<div style="display: flex;">
  <div style="display: flex; flex-direction: column; margin-right: 20px;">
    <button (click)="cambiarNivel('facil')">Fácil</button>
    <button (click)="cambiarNivel('normal')">Normal</button>
    <button (click)="cambiarNivel('dificil')">Difícil</button>
  </div>
  <div>
    <div>Tiempo: {{ tiempo }} segundos</div>
    <button (click)="iniciarCronometro()">Iniciar</button>
    <app-palabra *ngFor="let item of iteracion; index as i" [palabra]="palabra" [cont]="i" [turno]="turno" [letrasIngresadas]="item.letras" [clasesLetras]="item.clases" [showColors]="item.showColors" (letraActualizada)="actualizarLetra($event)"></app-palabra>
    <button (click)="avanzarTurno()">Enviar</button>
    <button (click)="reiniciarJuego()">Reiniciar</button>
  </div>
</div>
