button 
      padding: 5px 10px
      margin: 0 5px
      border: 2px solid #232526
      border-radius: 5px
      background-color: #f0f0f0
      cursor: pointer
      font-size: 1rem
      font-weight: bold
      color: #333
// Estilo para el selector de nivel
select
  margin-top: 10px
  font-size: 16px
  border: 2px solid #000000
  border-radius: 5px
  padding: 8px
  background-color: #f0f0f0
  color: #333
  cursor: pointer
  transition: border-color 0.3s ease
