input
  width: 3rem
  height: 3rem
  text-align: center 
  font-size: 2rem
  font-weight: 600
  text-transform: uppercase
  border: 1px solid #333
  border-radius: 5px
  margin: 0 0.5rem
  padding: 0.5rem
  outline: none

.acierto
  background-color: #43a047
  color: #fff

.present
  background-color: #e4a81d
  color: #fff

.absent
  background-color: #757575
  color: #fff

body
  text-align: center

